.buttonContainer[b-rtyuzvs92t] {
    display: flex;
    justify-content: space-around;
}

    .buttonContainer h3[b-rtyuzvs92t] {
        margin: 0px 0px 10px 0px;
    }

        .buttonContainer h3:hover[b-rtyuzvs92t] {
            text-decoration: underline;
            text-decoration-thickness: 3px;
        }

.current[b-rtyuzvs92t] {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

@media screen and (min-width: 20in) {

}