.middle[b-hav1j0b5ua] {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; /* Vertically center the images */

}
    .middle p[b-hav1j0b5ua] {
        font-size: 25pt;
    }

    .middle h1[b-hav1j0b5ua] {
        font-size: 55pt;
    }

    .middle img[b-hav1j0b5ua] {
        margin: 10px;
        width: 400px;
        height: 400px;
        object-fit: cover;
    }

html[b-hav1j0b5ua], body[b-hav1j0b5ua]{
   margin: 0px;
   padding: 0px;
}