
.leftright[b-hav1j0b5ua] {
    display: flex;
    justify-content: space-between;
}

footer[b-hav1j0b5ua] {
    margin-top: 50px;
}

.threequarters[b-hav1j0b5ua] {
    margin-bottom: 35px;
}


.middleContent[b-hav1j0b5ua] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18in;
    flex-wrap: wrap;
}

    .middleContent img[b-hav1j0b5ua] {
        width: 400px;
        height: 400px;
        object-fit: cover;
        margin-top: 35px;
        margin-bottom: 35px;
    }
.middleText[b-hav1j0b5ua] {
    margin-left: 35px;
    margin-right: 35px;
}

.middle[b-hav1j0b5ua] {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}