@inherits LayoutComponentBase
@using Website.Components.Pages

<PageTitle>Sebastian Tran</PageTitle>

<header>
    <Header/>

    <div class="image-container">

        <div class="hidden"></div>
        <div class="overlay"></div>

        <img src="images/red.png">
        <img src="images/green.png">
        <img src="images/blue.png">
    </div>

</header>

@Body
