@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.bundle.scp.css';

/* _content/Website/Components/Layout/MainLayout.razor.rz.scp.css */
.image-container[b-4xpicsu201] {
    display: flex;
    height: 350px;
    justify-content: center; /* Horizontally center the images */
    align-items: center; /* Vertically center the images */
}

    .image-container img[b-4xpicsu201] {
        margin: 2vw;
        height: auto;
        max-width: 33%;
    }

.overlay[b-4xpicsu201] {
    position: absolute;
    z-index: 2;
    width: 200%;
    height: 350px;
    background-image: url('images/grid2.png');
    background-repeat: repeat;
    animation: leftRight-b-4xpicsu201 90s linear infinite;
}

@keyframes leftRight-b-4xpicsu201 {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}
/* _content/Website/Components/Pages/Header.razor.rz.scp.css */
.buttonContainer[b-rtyuzvs92t] {
    display: flex;
    justify-content: space-around;
    
}

    .buttonContainer h2[b-rtyuzvs92t] {
        margin: 0px 0px 5px 0px;
    }

        .buttonContainer h2:hover[b-rtyuzvs92t] {
            text-decoration: underline;
            text-decoration-thickness: 3px;
        }

.current[b-rtyuzvs92t] {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
