/* _content/Website/Components/Layout/MainLayout.razor.rz.scp.css */
.image-container[b-4xpicsu201] {
    display: flex;
    height: 350px;
    justify-content: center; /* Horizontally center the images */
    align-items: center; /* Vertically center the images */
}

    .image-container img[b-4xpicsu201] {
        margin: 2vw;
        height: auto;
        max-width: 33%;
    }

.overlay[b-4xpicsu201] {
    position: absolute;
    z-index: 2;
    width: 200%;
    height: 350px;
    background-image: url('images/grid2.png');
    background-repeat: repeat;
    animation: leftRight-b-4xpicsu201 90s linear infinite;
}

@keyframes leftRight-b-4xpicsu201 {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}
/* _content/Website/Components/Pages/Header.razor.rz.scp.css */
.buttonContainer[b-rtyuzvs92t] {
    display: flex;
    justify-content: space-around;
    
}

    .buttonContainer h2[b-rtyuzvs92t] {
        margin: 0px 0px 5px 0px;
    }

        .buttonContainer h2:hover[b-rtyuzvs92t] {
            text-decoration: underline;
            text-decoration-thickness: 3px;
        }

.current[b-rtyuzvs92t] {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

h1[b-rtyuzvs92t]{
    margin-left: 20px;
}
/* _content/Website/Components/Pages/Home.razor.rz.scp.css */
.middle[b-hav1j0b5ua] {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; /* Vertically center the images */

}
    .middle p[b-hav1j0b5ua] {
        font-size: 25pt;
    }

    .middle h1[b-hav1j0b5ua] {
        font-size: 55pt;
    }

    .middle img[b-hav1j0b5ua] {
        margin: 10px;
        width: 400px;
        height: 400px;
        object-fit: cover;
    }

html[b-hav1j0b5ua], body[b-hav1j0b5ua]{
   margin: 0px;
   padding: 0px;
}
