@using Website.Components.Layout
@inject HttpClient Http
@inject NavigationManager NavManager
@page "/asa" 
@layout MainLayout
@rendermode InteractiveServer

<div class="threequarters">
    <h1>ASA</h1>

    <h3>
        I'm currently the secretary of WCU's Asian Students Association! <br />

        I write all of the emails, but I also get to take pictures too!

        below are some of the pictures I've taken for ASA! <br />
    </h3>

    @if (rendered.Any())
    {
        foreach (int image in rendered)
        {
            <ImageComponent Id="image"></ImageComponent>
        }
    }
    else
    {
        <div>loading still...</div>
    }
</div>

@code {
    private List<int> rendered = new List<int>();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {   
        if (firstRender)
        {
            List<int>? images = await Http.GetFromJsonAsync<List<int>>(NavManager.BaseUri + "Image/getEvent/ASA");
            if (images is not null)
            {
                foreach (int image in images)
                {
                    rendered.Add(image);
                    await Task.Delay(1000); // between each image
                    StateHasChanged();
                }
            }
        }
    }

}
