@using Website.Components.Layout
@inject HttpClient Http
@inject NavigationManager NavManager
@page "/asa" 
@layout MainLayout
@rendermode InteractiveServer

ASA page!

@if (rendered is not null)
{
    foreach (int image in rendered)
    {
        <ImageComponent Id="image"></ImageComponent>
    }
}
else
{
    <div>loading still...</div>
}

@code {
    private List<int> rendered = new List<int>();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {   
        if (firstRender)
        {
            List<int>? images = await Http.GetFromJsonAsync<List<int>>(NavManager.BaseUri + "Image/getEvent/ASA");
            if (images is not null)
            {
                foreach (int image in images)
                {
                    rendered.Add(image);
                    StateHasChanged(); // Update the UI
                    await Task.Delay(2000); // Delay between each image
                }
            }
        }
    }

}
