@using Website.Components.Layout
@page "/cs" 
@layout MainLayout
@rendermode InteractiveServer

<div class="flexCenterWrap CommonMargin">
    <div class="CommonSize bottom">
        <h2>CS</h2>

        <h3>
            all about my computer science endeavours!

        </h3>
    </div>

    <div class="CommonSize flexCenterWrap">
        <div class="box">
            FUCK
        </div>
        <div class="box">
            FUCK
        </div>
        <div class="box">
            FUCK
        </div>
    </div>

</div>

@code {

}
