.buttonContainer {
    display: flex;
    justify-content: space-around;
}

    .buttonContainer h3 {
        margin: 0px 0px 10px 0px;
    }

        .buttonContainer h3:hover {
            text-decoration: underline;
            text-decoration-thickness: 3px;
        }

.current {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

@media screen and (min-width: 20in) {

}