@rendermode InteractiveServer
@inject NavigationManager NavManager

<div class="threequarters">
    <div class="inThreeQuarters">
        @if (DisplayedText is not null)
        {
            <h1>@DisplayedText</h1>
        }
        else
        {
            <h1>&#160;</h1>
        }
    </div>

    <div class="inThreeQuarters">
        <nav class="buttonContainer">
            <h3 class="@asa" @onclick="GoASA">ASA</h3>
            <h3 class="@cs" @onclick="GoCS">CS</h3>
            <h3 class="@home" @onclick="GoHome">About me</h3>
        </nav>
    </div>
</div>



@code{
    string text = "Sebastian Tran";
    string? DisplayedText;
    bool IsRunning = false;
    int CurrentIndex = 0;

    string asa = string.Empty;
    string cs = string.Empty;
    string home = string.Empty;

    private void newPage (string page)
    {
        asa = page.Equals("/asa") ? "current" : string.Empty;
        cs = page.Equals("/cs") ? "current" : string.Empty;
        home = page.Equals("/") ? "current" : string.Empty;
    }

    private async Task StartTypewriter()
    {
        if (IsRunning)
            return;

        CurrentIndex = 0;
        DisplayedText = "";
        IsRunning = true;

        while (CurrentIndex < text.Length && IsRunning)
        {
            DisplayedText += text[CurrentIndex];
            CurrentIndex++;
            StateHasChanged();
            await Task.Delay(240); // Delay to simulate typing
        }

        IsRunning = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            newPage(new Uri(NavManager.Uri).PathAndQuery);
            await StartTypewriter();
        }
    }

    private void GoHome()
    {
        NavManager.NavigateTo("/");
        newPage("/");
    }

    private void GoASA()
    {
        NavManager.NavigateTo("/asa");
        newPage("/asa");
    }

    private void GoCS()
    {
        NavManager.NavigateTo("/cs");
        newPage("/cs");
    }
}
