@page "/"

<PageTitle>Home</PageTitle>

<header>
    <h1>sebastian tran.</h1>

    <div class="buttonContainer">
        <div>ASA</div>
        <div>CS</div>
        <div>About me</div>
    </div>

    <div class="image-container">
        <div class="overlay"></div>

        <img src="images/red.png">
        <img src="images/green.png">
        <img src="images/blue.png">
    </div>
    
</header>