@page "/"

<PageTitle>Home</PageTitle>

<header>

    <img src="images/grid.png" class="overlay" />

    <div class="image-container">
        

        <img src="images/red.png">
        <img src="images/green.png">
        <img src="images/blue.png">
    </div>
    
</header>

Welcome to your new app.
