@using Website.Components.Layout
@page "/"
@layout MainLayout

<div>
    <div>
        <h1>About me!</h1>

        <p>
            Hi! I'm Sebastian Tran! I'm a junior computer science student at west chester university
        </p>
    </div>

    <img />
</div>

@code {

}