@using Website.Components.Layout
@page "/"
@layout MainLayout
@rendermode InteractiveServer

<div>
    <div>
        <h1>About me!</h1>

        <p>
            Hi! I'm Sebastian Tran!<br />

            I'm a junior computer science student at WCUPA<br />

            I also love photography!<br />

            Contact me at: <br />
            - transebastian91@gmail.com<br />
            - 215-284-9916<br />
        </p>

    </div>

    <img />
</div>

@code {

}