.middle {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; /* Vertically center the images */
    margin-bottom: 50px;
}

    .middle img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        margin-left: 10px;
    }

.leftright {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 8in) {
    
}

footer {
    margin-top: 50px;
}

@media screen and (min-width: 20in) {
    footer, .middle {
        margin-left: 16.67%;
        margin-right: 16.67%;
    }
    
}