@inject HttpClient Http
@inject NavigationManager NavManager
@rendermode InteractiveServer

@if (imageUrl is null)
{
    <div>Loading image...</div>
}
else
{
    <img src="@imageUrl" style="height:auto; width:100%"/>
}



@code {
    [Parameter]
    public int? Id { get; set; }

    private string? imageUrl;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Call the API and retrieve the byte array
            var imageBytes = await Http.GetByteArrayAsync(NavManager.BaseUri + $"Image/getImage/{Id}");

            // Convert the byte array to a base64 string
            string base64String = Convert.ToBase64String(imageBytes);

            // Set the image source
            imageUrl = $"data:image/jpeg;base64,{base64String}";

            StateHasChanged();
        }       
    }
}
