@inject HttpClient Http
@inject NavigationManager NavManager
@rendermode InteractiveServer

@if (imageUrl is null)
{
    <div>Loading image...</div>
}
else
{
    <img src="@imageUrl" style="height:auto; width:100%; margin-top: 10px"/>
}



@code {
    [Parameter]
    public int? Id { get; set; }

    string? imageUrl;

    protected override void OnParametersSet()
    {
        imageUrl = NavManager.BaseUri + $"Image/getImage/{Id}";
    }
}
