html, body {
    padding: 10px 10px 10px 10px;
    line-height: normal;
    max-width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: "coolvetica";
    src: url('/fonts/Coolvetica Rg.otf')
}

p {
    margin: 0;
    font-family: coolvetica;
    font-size: clamp(1rem, 5vw, 75px);
}

h1 {
    font-family: coolvetica;
    font-size: clamp(1rem, 10vw, 150px); /* Min size, preferred size, max size */
    margin: 0;
    letter-spacing: 3px;
}

h2 {
    font-family: coolvetica;
    font-size: clamp(1rem, 5vw, 75px);
}