html, body {
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: "coolvetica";
    src: url('/fonts/Coolvetica Rg.otf')
}

@font-face {
    font-family: 'playfair';
    src: url('fonts/Playfair-VariableFont_opsz,wdth,wght.ttf') format('woff2');
}
h1 {
    font-family: playfair;
    font-weight: 900;
    margin: 0px;
    font-size: 70pt;
}

h2 {
    font-size: 60pt;
    margin: 0px;
    font-family: playfair;
    font-weight: 700;
}

h3 {
    margin: 0px;
    font-size: 30pt;
    font-family: playfair;
    font-weight: 600;
}

h4 {
    margin: 0px;
    font-family: playfair;
    font-size: 20pt;
    font-weight: 500;
}

.flexCenterWrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexSpaceWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.CommonSize {
    width: 14in;
}

.CommonMargin {
    margin-left: 35px;
    margin-right: 35px;
}

.bottom {
    margin-bottom: 35px;
}

@media screen and (max-width: 8in) {
    h3 {
        font-size: 20pt;
    }

    h2 {
        font-size: 40pt;
    }

    h1 {
        font-size: 40pt;
    }
}

.box {
    flex: 30%;
}

.containerBox {
    gap: 0.25in;
    flex: 66%;
}

.contentBox {
    width: 4.20in;
    height: 4.20in;
    padding: 15px;
}

