html, body {
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: "coolvetica";
    src: url('/fonts/Coolvetica Rg.otf')
}

@font-face {
    font-family: 'playfair';
    src: url('fonts/Playfair-VariableFont_opsz,wdth,wght.ttf') format('woff2');
}
h1 {
    font-family: playfair;
    font-weight: 900;
    margin: 0px;
    font-size: 70pt;
}

h2 {
    font-size: 70pt;
    margin: 0px;
    font-family: playfair;
    font-weight: 700;
}

h3 {
    margin: 0px;
    font-size: 30pt;
    font-family: playfair;
    font-weight: 700;
}

h4 {
    margin: 0px;
    font-family: playfair;
    font-size: 20pt;
    font-weight: 500;
}

.threequarters {
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inThreeQuarters {
    width: 18in;
}


@media screen and (max-width: 8in) {
    h3 {
        font-size: 20pt;
    }

    h2 {
        font-size: 40pt;
    }

    h1 {
        font-size: 40pt;
    }
}